[MASTER]
jobs=1

[MESSAGES CONTROL]
disable=
    too-many-lines,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    too-many-instance-attributes,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-nested-blocks,
    too-few-public-methods,
    import-outside-toplevel,
    no-else-return,
    global-statement,
    broad-exception-caught,
    unused-argument,
    duplicate-code,
    no-member,
    line-too-long,
    import-error,
    no-name-in-module,
    missing-function-docstring,
    missing-module-docstring,
    unused-variable,
    redefined-outer-name,
    invalid-name,
    protected-access,
    unexpected-keyword-arg

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,e,f,tc,tr

[DESIGN]
max-attributes=10
max-locals=20
max-branches=20
max-statements=100
max-returns=10
max-args=7
max-positional-arguments=7
